<div class="notice--success" style="margin: 0;">
<h2 style="margin: 0;"> 📢 Newsletter Announcement</h2>
<p>
  Dear reader, would you like the latest updates on .NET, Azure and Containers delivered straight to your inbox ? <br/>
  You should <a href="https://www.gurucharan.in/newsletter/">subscribe to The Pub-Sub newsletter, curated by me and published twice a month.</a>
</p>
<form id="contactForm" method="post"
    action="https://gc94-newsletter-functions.azurewebsites.net/api/Subscribe" novalidate>
    <div class="control-group">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" name="email" class="form-control" placeholder="Enter your email address" id="email" required
          data-validation-required-message="Please enter your email address.">
        <p class="help-block"></p>
      </div>
    </div>
    <br>
    <div id="success"></div>
    <div class="form-group">
      <button class="btn btn-subscribe" type="submit">Subscribe</button>
    </div>
  </form>
</div>