<div id="contact">
  <h2 class="section-heading text-primary">Subscribe to my newsletter</h2>
  <form id="contactForm" method="post"
    action="https://getsimpleform.com/messages.json?form_api_token=6b74036d69c0b885256365847afd94d2" novalidate>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label for="email">Email Address</label>
        <input type="email" name="email" class="form-control" placeholder="Email Address" id="email" required
          data-validation-required-message="Please enter your email address.">
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <br>
    <div id="success"></div>
    <div class="row">
      <div class="form-group col-xs-12">
        <button class="btn btn--success" type="submit" class="btn btn-primary btn-lg">Send</button>
      </div>
    </div>
  </form>
</div>