<table>
    <thead>
        <th>Title</th>
        <th style="width: 12%">Date</th>
        <th>Event & Location</th>
        <th style="width: 50%">Description</th>
    </thead>
    <tbody>
        {% assign talkssorted = (site.data.talks.completed | sort: 'date' ) %}
        {% for talk in talkssorted %}
        {% include talkrow.html title=talk.title date=talk.date eventLink=talk.eventLink group=talk.group description=talk.description sessionLink=talk.sessionLink location=talk.location slidesLink=talk.slidesLink codeLink=talk.codeLink videoLink=talk.videoLink %}
        {% endfor %}
    </tbody>
</table>